# CSS style for hover effect
st.markdown(
        """
        <style>
            .sidebar-link {
                text-decoration: none;
                color: white;
                transition: color 0.3s; /* Smooth transition for color change */
            }
            .sidebar-link:hover {
                color: #FF5733; /* Change the color on hover (e.g., orange) */
            }
        </style>
        """
)
