/* Style général pour un fond clair */
.stApp {
    background-color: white;
    color: #333;
}

/* Style des entrées de formulaire */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style du bouton de soumission */
button[type=submit] {
    background-color: #4CAF50; /* Vert professionnel */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Effet de survol sur le bouton */
button[type=submit]:hover {
    background-color: #45a049; /* Vert légèrement plus foncé */
}

/* Style pour les éléments Streamlit */
.stApp > header {
    background-color: transparent;
}

div[data-testid="stExpander"] div[role="button"] p {
    font-size: 1.2rem;
}

/* Masquer le branding Streamlit */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
